
body, html{padding:0!important;margin:0!important;width:100%;height:100%;overflow-x:hidden;}
*{box-sizing:border-box;}
a{cursor:pointer;color:#e06711}
a.hover{text-shadow:0px 0px 5px #e06711;}
/*
    bg/light color -        #f7f7ed
    dark/tect color         #404144
    orange/highlight color- #e06711
    alternate light -       #efefef
    alternate dark -        #726d67
*/
body{
    font-family:'Roboto', sans-serif;
    font-size:16px;
    font-weight:400;
    color:404144;
    background:#f7f7ed;
    background-image:url("../img/aa-bg.png");
    background-repeat:none;
}
.head-text, h1, h2{font-family:'Comfortaa', sans-serif;}
.page-wide{
    padding:0 1em;
}
.button{
    display:inline-block;
    border-radius:4px;
    background:#e06711;
    color:#f7f7ed;
    border:1px solid #efefef;
    padding:.75em 1.5em;
    font-weight:700;
    width:100%;
    text-decoration:none;
    text-align:center;
}
.button i.fa{
    margin-right:.5em;
}
.button.big-fat-reg-button{
    font-size:1.75em;
    padding:.75em 2em;
    margin:.5em 0;
    width:auto;
    background:#00aa00;
}
.coming-soon-box{
    text-align:center;
    opacity:.8;
    font-size:1.2em;
    font-weight:700;
    padding:1em;
    color:#f7f7ed;
    background:#404144;
    border:1px solid #726d67
}
#FullWrap{
    width:100%;
    position:relative;
    padding-top:3em;
}
#NavWrap{
    position:fixed;
    top:.5em;
    right:0px;
}
#FootWrap{
    background:#726d67;
    color:#efefef;
    padding:2em 0;
    margin-top:2em;
}
.nav-link{
    display:block;
    text-align:right;
    font-size:1.3em;
}
#NavToggle i{
    height:1em;
    width:1em;
    position:absolute;
    top:0px;
    right:0px;
    display:inline-block;
}
#NavInner{
    position:relative;
    
}
#PrimaryNav{
    position:absolute;
    width:11em;
    top:3.5em;
    right:-15em;
    padding:.5em;
    padding-right:2em;
    box-shadow:1px 2px 5px #726d67;
    border-radius: 4px;
    transition:right .4s ease-out;
    background:#efefef;
}
#PrimaryNav.show-nav{
    right:-1em;
}
.rotate-out{
    animation-name: rotateOut;
    animation-duration:.5s;
    animation-direction:forwards;
    animation-fill-mode:forwards;
}
.rotate-in{
    animation-name: rotateIn;
    animation-duration:.5s;
    animation-direction:forwards;
    animation-fill-mode:forwards;
}
@keyframes rotateOut {
    0%   {opacity: 1;transform: rotate(0deg)}
    25%  {opacity: .8;transform:rotate(40deg)}
    50%  {opacity: .5;transform:rotate(70deg)}
    100% {opacity: 0;transform:rotate(90deg)}
}
@keyframes rotateIn {
    0%   {opacity: 0;transform: rotate(90deg)}
    25%  {opacity: .1;transform:rotate(130deg)}
    50%  {opacity: .5;transform:rotate(160deg)}
    100% {opacity: 1;transform:rotate(180deg)}
}