
body, html{padding:0!important;margin:0!important;width:100%;overflow-x:hidden;}
*{box-sizing:border-box;}
a{cursor:pointer;color:#e06711}
a.hover{text-shadow:0px 0px 5px #e06711;}
/*
    bg/light color -        #f7f7ed
    dark color  -           #404144
    orange/highlight color- #e06711
    alternate light -       #efefef
    alternate dark / text - #726d67
*/
body{
    font-family:'Roboto', sans-serif;
    font-size:16px;
    font-weight:400;
    color:#726d67;
    background:#f7f7ed;
    background-image:url("../img/aa-bg.png");
    background-attachment: fixed;
    background-position-x: 0px;
    background-repeat: no-repeat;
    background-size: cover;
    transition:background-position-y .1s;
}
.head-text, h1, h2{font-family:'Comfortaa', sans-serif;margin:1em 0;margin-bottom:.25em;}
h1{
    font-size:3em;
}
h2{
    font-size:2em;
    font-weight:bold;
    
}
.note-block, .hotel-block{
    padding: 0.5em;
    font-size:14px;
    border-radius:4px;
    border:1px solid #726d67;
    margin:.5em 0;
}
.hotel-block{
    position:relative;
    margin:1.5em 0;
    padding:1em;
}
.hotel-name{
    display:inline-block;
    width:aut0;
    height:2em;
    line-height:2em;
    border-radius:4px;
    border:1px solid #726d67;
    background:#f7f7ed;
    position:absolute;
    top:-1em;
    left:1em;
    padding:0 2em;
    font-weight:bold;
}
.page-wide{
    padding:0 1em;
}
.content-area{
    padding: 1em 0;
}
.content-area:after{
    content:'';
    display:block;
    width:66%;
    margin:0px auto;
    border-bottom:1px solid #404144;
    margin-top:1em;
    opacity:0.5;
}
.button{
    display:inline-block;
    border-radius:4px;
    background:#e06711;
    color:#f7f7ed;
    border:1px solid #efefef;
    padding:.75em 1.5em;
    margin:.5em 0;
    font-weight:700;
    width:100%;
    text-decoration:none;
    text-align:center;
}
.button i.fa{
    margin-right:.5em;
}
.button.big-fat-reg-button{
    font-size:1.75em;
    padding:.75em 2em;
    margin:.5em 0;
    width:auto;
    background:#00aa00;
}
.coming-soon-box{
    text-align:center;
    opacity:.8;
    font-size:1.2em;
    font-weight:700;
    padding:1em;
    color:#f7f7ed;
    background:#404144;
    border:1px solid #726d67;
    border-radius:4px;
}
#FullWrap{
    width:100%;
    position:relative;
    padding-top:3em;
}
#NavWrap{
    position:fixed;
    top:.5em;
    right:0px;
    z-index:9999;
}
#FootWrap{
    background:#726d67;
    color:#efefef;
    padding:2em 0;
    margin-top:2em;
}
.nav-link{
    display:block;
    text-align:right;
    font-size:1.3em;
}
#NavToggle{
    height:1.1em;
    width:1.1em;
    padding:.1em;
    font-size:2.5em;
    border-radius:2em;
    background:#f7f7ed;
    box-shadow:0px 0px 3px #726d67;
}
#NavToggle i{
    height:1em;
    width:1em;
    position:absolute;
    top:.05em;
    right:.05em;
    display:inline-block;
}
#NavInner{
    position:relative;
    
}
#PrimaryNav{
    position:absolute;
    width:14em;
    top:3.5em;
    right:-15em;
    padding:.5em;
    padding-right:2em;
    box-shadow:1px 2px 5px #726d67;
    border-radius: 4px;
    transition:right .4s ease-out;
    background:#efefef;
}
#PrimaryNav .nav-link{
    padding:.5em 0;
    border-bottom:1px solid #f7f7ed;
}
#PrimaryNav .nav-link.last-link{
    border-bottom:none;
}
#PrimaryNav.show-nav{
    right:-1em;
}
.rotate-out{
    animation-name: rotateOut;
    animation-duration:.5s;
    animation-direction:forwards;
    animation-fill-mode:forwards;
}
.rotate-in{
    animation-name: rotateIn;
    animation-duration:.5s;
    animation-direction:forwards;
    animation-fill-mode:forwards;
}
@keyframes rotateOut {
    0%   {opacity: 1;transform: rotate(0deg)}
    25%  {opacity: .8;transform:rotate(40deg)}
    50%  {opacity: .5;transform:rotate(70deg)}
    100% {opacity: 0;transform:rotate(90deg)}
}
@keyframes rotateIn {
    0%   {opacity: 0;transform: rotate(90deg)}
    25%  {opacity: .1;transform:rotate(130deg)}
    50%  {opacity: .5;transform:rotate(160deg)}
    100% {opacity: 1;transform:rotate(180deg)}
}
@media screen and (min-width: 1024px){
    h2{
        text-indent:-1em;
    }
    .button{
        width:auto;
    }
    .page-wide{
        width:960px;
        margin:0px auto;
    }
    .button.big-fat-reg-button{
        width:100%;
    }
    #HotelContent .button{
        width:33%;
        margin-right:1em;
    }
    .content-area{
        margin:1em 0;
        padding:1em 0;
    }
}